main{
    margin: 10% 25%;
    font-family: 'Baloo Chettan 2', cursive;
    color: #084177;
    border: 3px solid #084177;
    border-radius: 10px;
    max-width: 45%;
    min-width: 630px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    background-color: #fbc490;
}
div{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    
}
h3{
    min-width: 350px;
    font-weight: normal;
    font-size: 17px;
    height: 0px;
}
input{
    min-width: 250px;
    margin-top: 10px;
    height: 17px;
}
#for-deposit{
    height: 35px;
    font-size: 17px;
    width: 500px;
    margin: 30px 17%;
}
article{
    width: 20px;
    color: red;
    
}